
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


__pycache__
/.idea
venv
*.log

templates/
!templates/base.html

media/*
!*media


**/migrations/**
!**/migrations
!**/migrations/__init__.py
*backend/*/migrations/*
!*backend/*/migrations
!*backend/*/migrations/__init__.py

